<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- For Twitter REST API Sample -->
    <add key="ConsumerKey" value="4yQT8ajqtZOfgM5HZ0gz4Q"/>
    <add key="ConsumerSecret" value="lBDUAWyq30SFOGtsMmrAlO3eZamZVe5NAYDGLlgTUU"/>
    <add key="Token" value="16684753-q9rxYvC2ZdPT64zBoOD8mGkeQbUazSbr5c9HeCP8"/>
    <add key="TokenSecret" value="oKQWCwZKlfhWbbQvaFobJtyE7PUVoi9MlehqNCraJM"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
