<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- For Twitter REST API Sample -->
    <add key="ConsumerKey" value="your-key"/>
    <add key="ConsumerSecret" value="your-secret"/>
    <add key="Token" value="your-token"/>
    <add key="TokenSecret" value="your-token-secret"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
